<h1>Listing items</h1> <%= link_to 'New Item', new_item_path, :class => "btn" %>

<div id="item-container">


 
    <% @items.each do |item| %>
      <div class="item-box">
        <h2><%= link_to item.name, item %></h2>
        <% if item.photo? %>        
        <div><%= image_tag item.photo.url(:thumb) %></div>
        <% end %>
        <p><%= item.condition %></p>
        <% if item.description.length > 250 %>
        <p><%= item.description.truncate(250) %><br/><%= link_to "Read More", item %></p>
        <% else %>
        <p><%= item.description %></p>
        <% end %>
        <p>Contact: <%= item.created_by.email %></p>
      <div class="edit">  
      <% if current_user && (item.created_by_id == current_user.id) %>
        <%= link_to 'Edit', edit_item_path(item), :class => "btn"   %>
        <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn"  %>
        <% end %>
      </div> 
    </div>  
    <% end %>
 
</div>

<br>


